{% extends 'base.html' %}

{% block nav %}
    {% include 'components/nav.html' %}
{% endblock nav %}

{% block content %}
    <div class="container max-width">
        <div class="box">
            <div class="heading">Time Counter</div>
                <div class="title">TITLE</div>
                <div class="level">
                    <div class="level-item">
                        <div class="">
                            <div class="heading">STARTED</div>
                            <div class="title is-5">00:00:00</div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="">
                            <div class="heading">STOPPED</div>
                            <div class="title is-5">00:00:00</div>
                        </div>
                    </div>
                    <div class="level-item">
                        <button class="button mx-5">START</button>
                        <button class="button">START</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 max-width">
        <nav class="box">
            <div class="heading">
                My Time
            </div>
            <div class="panel-block">
                <div class="rows" style="display: flex; flex-direction: column;">
                    <div class="row">
                        <button class="button is-small">Create new task</button>
                    </div>
                    <div class="row">
                        <table class="table is-fullwidth">
                            <thead>
                            <tr>
                                <th><abbr title="Position">Pos</abbr></th>
                                <th><abbr title="Title">Title</abbr></th>
                                <th><abbr title="Description">Description</abbr></th>
                                <th><abbr title="URL">URL</abbr></th>
                                <th><abbr title="Active">Active</abbr></th>
                                <th><abbr title="Started">Started</abbr></th>
                                <th><abbr title="Stopped">Stopped</abbr></th>
                                <th><abbr title="Distance">Distance</abbr></th>
                                <th><abbr title="Actions">Actions</abbr></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th><abbr title="Position">Pos</abbr></th>
                                <th><abbr title="Title">Title</abbr></th>
                                <th><abbr title="Description">Description</abbr></th>
                                <th><abbr title="URL">URL</abbr></th>
                                <th><abbr title="Active">Active</abbr></th>
                                <th><abbr title="Started">Started</abbr></th>
                                <th><abbr title="Stopped">Stopped</abbr></th>
                                <th><abbr title="Distance">Distance</abbr></th>
                                <th><abbr title="Actions">Actions</abbr></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for mytime in times %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <th>{{ mytime.title }}</th>
                                    <th>{{ mytime.description }}</th>
                                    <th>
                                        {% if mytime.url %}
                                            <a href="{{ mytime.url }}">Go to</a>
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if mytime.active %}
                                            Active
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </th>
                                    <th>{{ mytime.started }}</th>
                                    <th>{{ mytime.stopped }}</th>
                                    <th>{{ mytime.distance }}</th>
                                    <th>
                                        <button class="button is-small">Activate</button>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock content %}

{% block script %}
{% endblock script %}